# Xcode

## Build generated
build/
DerivedData

## OS X System files
.DS_Store

# Cocoapods
Pods/
demos/**/Pods/
Podfile.lock

## Cache
git rm --cached InstagramCloneSwiftUI.xcodeproj/project.xcworkspace/xcuserdata/alejandro.xcuserdatad/UserInterfaceState.xcuserstate
git rm --cached InstagramCloneSwiftUI.xcodeproj/project.xcworkspace/xcuserdata/
InstagramCloneSwiftUI.xcodeproj/project.xcworkspace/xcuserdata/